<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application>
        <service
            android:name=".TunService"
            android:exported="false"
            android:label="@string/clash_meta_for_android"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":background"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Runs the VPN tunnel interface to route device traffic through the proxy core"/>
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service
            android:name=".RemoteService"
            android:exported="false"
            android:process=":background" />

        <provider
            android:name=".StatusProvider"
            android:authorities="${applicationId}.status"
            android:exported="false"
            android:process=":background" />
        <provider
            android:name=".PreferenceProvider"
            android:authorities="${applicationId}.settings"
            android:exported="false"
            android:process=":background" />
    </application>
</manifest>
